
/* CSS Index/alle pagina's */

* { 
	font-family: corbel, Ebrima, calibri; 
	text-align: center;
}

a,li {
	color: white;
	text-decoration: none;
}

a[class="agenda"] {
	color: #665544;
}

 .agenda:hover { 
 	color: #DF3D82;
 } 

h1[class="agenda"] {
	border-style: solid;
	color: #665544;
	max-width: 215px;
	max-height: 200px;
	margin: 10px auto 10px auto;
	padding-top: 17px;
	padding-bottom: 17px;
}

.headerimage {
	width: 100%;
}

td { background-color: white; 
	padding: 15px;
	border: 2px 
	solid #000000;
	text-align: left;
	width: 380px;
	border-color: white;

} 

.alignimage {
	text-align: center;
}

table.one { 
	border-spacing: 5px 15px;
	border-collapse: collapse;
}

.tabletitlehome {
	font-size: 20px;
	padding-bottom: 5px;
	font-family: calibri;
}

/* navigatie CSS (Menu/breadcrumb/overig) */

ul.breadcrumb {
	text-align: left;
}

.breadcrumbtext {
	color: #282828;
}

a[class="breadcrumbtext"] {
	color: #282828;
	text-decoration: underline;
}

a[class="homelink"] {
	color: #282828;
	text-decoration: underline;
}

.reserveren {
	background-color: black;
	margin: 5px;
	padding: 6px;
}

.nav {
	margin-top: 20px; 
	padding: 10px 0px 5px 0px;
	background-color: #da0241;
	font-size: 17px;
}

li { 
	display: inline; 
	padding: 5px;

}

/* footer CSS */

.nieuwsbrief, .contact {
	color: white;
	font-size: 20px;
}

section {
	padding: 10px;
}

.column1of3, .column2of3, .column3of3, .socialmedia {
	width: 300px; 
	display: inline-block;
	margin: 10px;

}

.socialmedia {
	width: 200px;
}

footer {
	background-color: #282828;
	padding: 2px;
}

.copyright {
	color: white;
}

.adres, .inschrijven {
	color: #BCBCBC;
}

#nieuwsbrief {
	border-style: solid;
	border-color: #FF3333;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	color: #FFF;
	background-color: #FF3333;
}

/*CSS E-MAIL PAGINA*/

#verstuur {
	border-style: solid;
	border-color: #E25491;
	background-color: #E25491;
	font-size: 15px;
	color: #FFF;
	border-radius: 5px;
}

fieldset {
	border-style: none;
	padding: 20px;
}

/*CSS AGENDA PAGINA*/

#agendasector {
	background-color: pink;
	padding: 20px
}

.agendaticket, .agendaimage, .agendatext {
	width: 230px; 
	display: inline-block;
	margin: 10px;
}

#info {
	border-style: solid;
	border-color: #282828;
	background-color: #282828;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 16px;
	color: #FFF;
	border-radius: 3px;
}

#zinsbegoocheling {
	width: 200px;
	height: 280px;
}

 #zoekveld,#zoekvelddatum {
    float: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 17px;
    height: 20px;
}

/* CSS ONZE TONEELGROEP */

.toneelgroepinfo {
	text-align: left;
	width: 600px;
	padding-left: 25px;
	padding-bottom: 35px;

}

p.toneelgroepinfo>a {
	color: #E25491;
}

.onzetoneelgroepafb {
	max-width: 450px;
}

.toneelgroepinfo,.onzetoneelgroepafb {
	display: inline-block;
	margin: 10px;
}


/* LID WORDEN */

.lidwordeninfo {
	text-align: left;
	width: 600px;
	padding-left: 25px;
	padding-bottom: 35px;
}

p.lidwordeninfo>a {
	color: #E25491;
}

.lidwordenafb {
	max-width: 350px;
}

.lidwordeninfo,.lidwordenafb {
	display: inline-block;
	margin: 10px;
}


/* ARCHIEF CSS */

#zoekveld2 {
	border-style: solid;
	border-color: lightgrey;
	background-color: white;
    float: center;
    text-align: left;
    padding: 6px;
    font-size: 17px;
    height: 20px;
    width: 400px;
}

.seizoenheaders {
	border-style: none;
	color: #665544;
	font-size: 16px;
	background-color: black;
	color: white;
	border-color: black;
	width: 1000px;
	text-align: center;
	margin: 0 auto;
}

.seizoen1 {
	display: inline-block;
}

div.seizoen1 {
	width: 250px;
	padding-top: 20px;
}

.hetzouthuisafb,.killerjoeafb,.dochterboevenkoningafb,.voorstellingtweeafb {
	width: 50%;
}

#fotoarchiefbutton {
	border-style: solid;
	width: 200px;
	height: 30px;
	margin: 20px;
	font-size: 16px;
	background-color: #E25491;
	border-color: #E25491;
	color: white;
	border-radius: 3px;
}

/* THEATER HUREN */

.theaterhureninfo {
	text-align: left;
	width: 600px;
	padding-left: 25px;
	padding-bottom: 35px;
}

.imperiumtribune {
	width: 400px;
	margin: 10px;
}
.theaterhureninfo, .imperiumtribune {
	display: inline-block;
	margin: 10px;
}

/* CSS RESERVEREN PAGINA + pagina's stappen reserveren */

.datum,.tijd,.artiest,.titel,.prijs,.zaal,.kosten,.reserverenbutton {
	width: 200px; 
	display: inline-block;
}

#reserverenbuttonid {
	border-style: solid;
	border-color: #FF3333;
	font-size: 16px;
	color: #FF3333;
	background-color: #FFF;
}

#reserverenbuttonid:hover { 
	background-color: #FF3333;
	color: #FFF;
}

.h1reserverenform {
	font-size: 19px;
}

.reserverenstap1 {
	font-family: Ebrima;
}

#stoelenreserveren, #ticketinvoer, #overzichtreserveren {
	font-size: 19px;
	text-transform: uppercase;
	text-decoration: underline;
}

label {
	text-align: left;
	padding-right: 40px;
	font-size: 16px;
}
/* ^ text-align werkte niet om de labels van de hoeveelheid tickets 
invoervelden links onder elkaar te zetten, ik heb dit nog geprobeerd maar ik kon 
even niks anders vinden om dit op te lossen */

.ticketinvoer, .gegevensinvoer {
	font-size: 16px;
}


/* CSS AFREKEN 1 pagina */

#verderbuttonreserveren {
	border-style: solid;
	border-color: #282828;
	color: #282828;
	background-color: white;
	font-size: 18px;
	margin: 15px;
	margin-top: 10px;
	padding: 8px;
	padding-left: 25px;
	padding-right: 25px;
}


.inlogbutton {
	border-style: solid;
	padding: 5px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: grey;
	border-color: grey;
	color: white;
	font-size: 16px;
}

 .inlogbutton:hover { 
 	background-color: #da0241;
 	border-color: #da0241;
 } 

 .inlogbutton:active { 
 	background-color: #da0241;
 	border-color: #da0241;
 } 

/* Ik wou dat de button nadat hij was aangeklikt dezelfde kleur zou behouden als wanneer de gebruiker 
er overheen hovert, jammergenoeg lukte me het niet dit op tijd uit te vinden. */

#wwvergeten {
	color: purple;
	margin-left: 5px;
}

/* CSS STOELEN RESERVEREN */




/* 


/* TEST COLORS 
(negeren, is alleen om te testen)

.column1of3 {
	background-color: red;
}

.column2of3 {
	background-color: pink;
}

.column3of3 {
	background-color: orange;
}

.socialmedia {
	background-color: yellow;
}*/
